{% extends 'layout.html' %}

{% block main %}
<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>内容分类</span></li>
</ol>
<h3>内容添加</h3>

<form method="post">
    <div class="form-group">
        <label for="category">所属分类</label>
        <select name="category" id="category" class="form-control">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="title">内容标题</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="请输入标题">
    </div>
    <div class="form-group">
        <label for="description">简介：</label>
        <textarea name="description" id="description" class="form-control" row="5" placeholder="请输入简介"></textarea>
    </div>
    <div class="form-group">
        <label for="content">内容：</label>
        <textarea name="content" id="content" class="form-control" row="5" placeholder="请输入简内容"></textarea>
    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>

{% endblock %}